SERVICE_NAME=API Gateway
SERVICE_VERSION=0.1.0
ENVIRONMENT=local
AUTH_SERVICE_URL=http://auth-service:8000
LEARNING_SERVICE_URL=http://learning-service:8000
GAMIFICATION_SERVICE_URL=http://gamification-service:8000
NOTIFICATION_SERVICE_URL=http://notification-service:8000